Integra.Vision.Engine.Host/Configuration/HostingConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Integra.Vision.Engine.Host.Configuration" elementFormDefault="qualified" targetNamespace="urn:Integra.Vision.Engine.Host.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EngineConfigurationSectionGroup" type="tns:Integra.Vision.Engine.Host.Configuration.EngineConfigurationSectionGroupCT" />
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.EngineConfigurationSectionGroupCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="hostingConfigurationSection" type="tns:Integra.Vision.Engine.Host.Configuration.HostingConfigurationSectionCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.HostingConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="bootstrap" type="tns:Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Bootstrap.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.DependenciesConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="aliases" type="tns:Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Aliases.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="registers" type="tns:Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Registers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alias" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Alias.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="module" type="tns:Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The ModuleConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="engineBuilderType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EngineBuilderType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.ModuleConfigurationElementCollectionClearCT" />
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="alias" type="tns:Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The AliasConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.AliasConfigurationElementCollectionClearCT" />
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="register" type="tns:Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The RegisterConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Host.Configuration.RegisterConfigurationElementCollectionClearCT" />
</xs:schema>
