Integra.Vision.Engine/Configuration/EngineConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Integra.Vision.Engine.Configuration" elementFormDefault="qualified" targetNamespace="urn:Integra.Vision.Engine.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EngineConfigurationSectionGroup" type="tns:Integra.Vision.Engine.Configuration.EngineConfigurationSectionGroupCT" />
	<xs:complexType name="Integra.Vision.Engine.Configuration.EngineConfigurationSectionGroupCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="engineConfigurationSection" type="tns:Integra.Vision.Engine.Configuration.EngineConfigurationSectionCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.EngineConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="listener" type="tns:Integra.Vision.Engine.Configuration.ListenerConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The Listener.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="database" type="tns:Integra.Vision.Engine.Configuration.DatabaseConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The Database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="operation" type="tns:Integra.Vision.Engine.Configuration.OperationConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The Operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="concurrency" type="tns:Integra.Vision.Engine.Configuration.ConcurrencyConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The Concurrency.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="bufferManagement" type="tns:Integra.Vision.Engine.Configuration.BufferManagmentConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The BufferManagement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.EndpointConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Integra.Vision.Engine.Configuration.EndpointConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Integra.Vision.Engine.Configuration.EndpointConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="endpoint" type="tns:Integra.Vision.Engine.Configuration.EndpointConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The EndpointConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.EndpointConfigurationElementCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.EndpointConfigurationElementCollectionClearCT" />
	<xs:complexType name="Integra.Vision.Engine.Configuration.EndpointConfigurationElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.ListenerConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="endpoints" type="tns:Integra.Vision.Engine.Configuration.EndpointConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Endpoints.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.DatabaseConfigurationElementCT">
		<xs:attribute name="connectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.OperationConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="actions" type="tns:Integra.Vision.Engine.Configuration.CommandConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Actions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dispatcher" type="tns:Integra.Vision.Engine.Configuration.FilterConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Dispatcher.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.FilterConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Integra.Vision.Engine.Configuration.FilterConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Integra.Vision.Engine.Configuration.FilterConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="filter" type="tns:Integra.Vision.Engine.Configuration.FilterConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The FilterConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.FilterConfigurationElementCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.FilterConfigurationElementCollectionClearCT" />
	<xs:complexType name="Integra.Vision.Engine.Configuration.FilterConfigurationElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.ConcurrencyConfigurationElementCT">
		<xs:attribute name="level" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.CommandConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Integra.Vision.Engine.Configuration.CommandConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Integra.Vision.Engine.Configuration.CommandConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Integra.Vision.Engine.Configuration.CommandConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>A collection of FilterConfigurationElement instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" processContents="lax" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.CommandConfigurationElementCollectionRemoveCT">
		<xs:attribute name="commandType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CommandType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.CommandConfigurationElementCollectionClearCT" />
	<xs:complexType name="Integra.Vision.Engine.Configuration.CommandConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Integra.Vision.Engine.Configuration.CommandConfigurationElementClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Integra.Vision.Engine.Configuration.CommandConfigurationElementRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="filter" type="tns:Integra.Vision.Engine.Configuration.FilterConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The FilterConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="commandType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CommandType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.CommandConfigurationElementRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Integra.Vision.Engine.Configuration.CommandConfigurationElementClearCT" />
	<xs:complexType name="Integra.Vision.Engine.Configuration.BufferManagmentConfigurationElementCT">
		<xs:attribute name="maxBufferPoolSize" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The MaxBufferPoolSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxBufferSize" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxBufferSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
